.tech-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}

.tech-wrapper span {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid rgba(27,31,36,0.1);
  border-radius: 50%;
}

.tech {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.2rem;
}



/* TECHNOLOGIES*/

#Javascript,
#JS,
#JavaScript {
  background-color: rgba(241, 224, 90, var(--opacity));
  color: var(--color-text-button-light)

}

#React,
#ReactJS {
  background-color: rgba(97, 219, 251, var(--opacity));
  color: var(--color-text-button-light)
}

#MaterialUI,
#MaterialUI,
#MUI {
  background-color:rgba(0, 127, 255, var(--opacity));
  color: var(--color-text-button-dark)
}

#HTML {
  background-color: rgba(227, 76, 38, var(--opacity));
  color: var(--color-text-button-dark)

}

#CSS {
  background-color: rgba(86, 61, 124, var(--opacity));
  color: var(--color-text-button-dark)
}

#C {
  background-color: rgba(85, 85, 85, var(--opacity));
}

#Emscripten {
  background-color: rgba(217, 240, 180, var(--opacity));
}

#AntDesign {
  background-color: linear-gradient(90deg, rgba(16,142,233,1) 0%, rgba(240,65,52,1) 100%, rgba(248,0,255,1) 100%)
}


