nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: calc(1024px + 24px * 2);
	margin-inline-start: auto;
	margin-inline-end: auto;
	margin: 1rem;
}

nav > ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ol > li {
	float: left;
}

ol > li a {
	display: block;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	font-size: larger;
	color:var( --color-text-primary);
	font-weight: var( --bold-weight-heavier);
}

ol > li > a:hover {
	color:var( --color-text-accent);
}

ul {
	list-style-type: circle;
}

ul > li {
	margin: 0 0 3px 0;
}

.name {
	display: inline-flex;
	align-items: baseline;
	align-items: center;

}

.title {
	float: left;
}

.heart-icon {
	margin: 5px;
}