.btn-pill {
    border: transparent;
    text-align: center;
    border-radius: 15px;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: bold;
    background-color: var(--color-button-secondary);
    color:var(color-button-text-secondary);
  }

  .btn-pill:hover {
    background-color: var(--color-button-tertiary)
  }