
.user-badge {
	position: relative;
	margin-bottom: 32px;
	margin-left: -40px;
	padding: 0.4em;
	display: inline-block;
	width: 24px;
	background-color: #ffffff;
	border: 1px solid #30363d;
	border-radius: 2em;
}

.status {


}