.card-wrapper {
  list-style: none;
  background-size: 400%;
  border-radius: 6px;
  background-color: var(--color-card-background);
  border-style: solid;
  border-width: 2px;
  border-color: #d0d7de;
  position: relative;
}

.card-wrapper h4 {
  font-weight: var(--bold-weight-heavier);
  font-size: 2rem;
}

.card-wrapper  h4:hover {
	color: var(--color-card-text-hover);
	text-decoration-line: underline;
	cursor: pointer;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0.2rem 1.5rem;
  color: #111;
}

.card-wrapper:hover {
	transform: scale(1.05);
	transition: all 0.3s;
}
.card-wrapper p {
  color: var(--color-card-paragraph);
  font-weight: var(--bold-weight-normal);
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.card-header a {
  color: var(--color-card-icon-stroke);
  text-decoration: none;
}

.card-header a:hover {
  color: var(--color-card-icon-highlight);
  text-decoration: none;
}

.card-footer {
  position: absolute;
  bottom: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.projects-links {
  display: flex;
  gap: 0.5rem;
  padding-top: 1rem;
}
