.card-wrapper {
	list-style: none;
	background-color: white;
	background-size: 400%;
	border-radius: 6px;
	background-position: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #d0d7de;
	position: relative;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.card-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-decoration: none;
	line-height: 1.4;
	padding: 1rem 1.3rem;
	color: #111;
	opacity: 0.8;

}

/*
.card-wrapper:hover {
	transform: scale(0.95);
	transition: all 0.3s;
}
*/

.card-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.card-footer {
	position: absolute;
	bottom: 0;
	margin-top: 25px;
	margin-bottom: 25px;
}

.projects-links {
	gap:1rem;
}