.card-wrapper {
	list-style: none;
	background-color: white;
	background-size: 400%;
	border-radius: 6px;
	background-position: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #d0d7de;
	position: relative;
}


.card-wrapper h3 {
	font-weight: var(--bold-weight-heavier);
}

.card-wrapper {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	line-height: 1.4;
	padding: 1rem 1.3rem;
	color: #111;
	opacity: 0.8;

}
.card-wrapper p {
	color: var(--color-card-paragraph);
	font-weight: var(--bold-weight-normal);

}

.card-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.card-header a {
	color: var(--color-card-icon-stroke);
	text-decoration: none;
}

.card-header a:hover {
	color:var(--color-card-icon-highlight);
	text-decoration: none;
	
}

.card-footer {
	position: absolute;
	bottom: 0;
	margin-top: 25px;
	margin-bottom: 25px;
}

.projects-links {
	gap:1rem;
}