---
import Card from '../components/Card'
import Home from '../components/Home'
import Menu from '../components/Menu'
import Footer from '../components/Footer'
import Projects from '../components/Projects'
import {Site} from
---

<html lang="en" >
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <link rel="stylesheet" href="../../static/styles/reset.css">
    <link rel="stylesheet" href="../../static/styles/styles.css">
    <link rel="stylesheet" href="../../static/styles/theme-vars.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Portfolio NievesCodes</title>
  </head>
  <body>
    <Menu
    icon="true"
    title="nieves.codes"
    />
    <Home
      title="Nieves"
      photo= "../static/images/profile.jpeg"
      subtitle="Junior Software Engineer"
      description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac arcu tempor, fermentum lectus sed, egestas lorem. Suspendisse id purus eu arcu interdum ullamcorper eu id leo. Nunc finibus felis sit amet ipsum laoreet venenatis. Vivamus sollicitudin, ipsum vitae laoreet pretium, odio eros fringilla nunc, vel condimentum enim erat sed lectus. Praesent ornare, leo sed viverra blandit, ligula nisi rutrum diam, a accumsan velit mauris sed purus. Curabitur venenatis sagittis iaculis. Curabitur tristique ut nibh eu ullamcorper. Sed finibus suscipit ipsum, sed fringilla erat lacinia quis. Cras posuere dapibus lacinia. Sed sapien magna, bibendum sed velit sit amet, viverra cursus ipsum. Donec vitae accumsan ex, sed pulvinar quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus lobortis, risus a eleifend aliquam, quam diam consectetur tortor, quis ornare arcu sapien vitae augue. Curabitur dapibus lobortis massa vel accumsan. Vivamus facilisis, ligula non vulputate faucibus, quam ex posuere mi, a vulputate nunc ligula nec risus."
    />
  </body>
  <Footer
    name='niecogi'
    url='https://github.com/niecogi'/>
</html>
