.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10%;
  overflow: hidden;
  text-align: start;
  height: 100vh;
}

.home-wrapper .home-title {
  order: 2;
}

.home-wrapper .position {
  color: var(--color-text-accent);
  text-transform: capitalize;
  order: 3;
}

.home-wrapper .hello {
  order: 1;
  font-size: 1.8rem;
  letter-spacing: 10px;
}

.home-wrapper .paraph {
  order: 4;
  font-size: 1.6em;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: var(--color-text-primary);

}

.home-wrapper .social {
  order: 5;
  margin-top: 1rem;
}

.home-wrapper .name{
  color: var(--color-primary);
}

.home-wrapper button {
  background-color: var(--color-primary);
  order: 4;
}
