.header {
	padding: var(--space-xl) 0;
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: var(--space-m);
	place-items: center;
	margin: 20px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.text{
	order:2;
	display: block;
	justify-content: space-between;
	margin: 0 auto;
	padding: 10px 0;
	text-align:justify;
	max-width: 50vw;
}

.subtitle {
	font-style: italic;
}

.description {
	margin: 0 auto;
	padding: 10px 0;
}

.photo{
	order: 1;
	width: 200px;
	height: 200px;
	max-width: 200px;
	border-radius: 50%;
	object-fit: cover;
}