:root {
  --opacity: 1;
  --border: #dbdbdb;
}

:root {
  --color-text-button-light: #000;
  --color-text-button-dark: #e1e1e1;
}

:root {
  --color-background: #232946;
  --color-headline: #fffffe;
  --color-paragraph: #b8c1ec;
  --color-button: #eebbc3;
  --color-button-text: #232946;

  --color-card-background: #fffffe;
  --color-card-heading: #232946;
  --color-card-paragraph: #232946;

  --color-icon-stroke: #121629;
  --color-icon-highlight: #eebbc3;
}
