:root {
  --opacity: 1;
  --border: #dbdbdb;
  --border-radius: 6px;
  --bold-weight-heavier: 700;
  --bold-weight-normal: 400;
}

:root {
  --color-text-button-light: #000;
  --color-text-button-dark: hsl(0, 0%, 100%, 0.9);
}

:root {
  --color-background: #191825;
  --color-headline: #f1f1f1;
  --color-paragraph: #f1f1f1;

  --color-text-primary: hsl(0, 0%, 95%);
  --color-text-secondary: hsl(249, 100%, 97%);
  --color-text-accent: hsl(247, 100%, 92%);

  --color-button-primary: #865dff;
  --color-button-secondary: #beb1ff;
  --color-button-tertiary: #d9d4ff;
  --color-button-hover: #865dff;
  --color-button-text: var(--color-text-primary);

  --color-button-text-secondary: #43169c;

  --color-card-background: #f1f1f1;
  --color-card-heading: #232946;
  --color-card-paragraph: #232946;
  --color-card-text-hover: #865dff;
  --color-card-icon-stroke: #865dff;
  --color-card-icon-highlight: #865dff;

  --color-icon-stroke: #121629;
  --color-icon-highlight: #865dff;
}
