:root {
	font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

h1 {
	display: block;
	font-size: 6em;
	font-weight: 900;
}
h2 {
	display: block;
	font-size: 3em;
	margin: 0.83em 0;
	margin-left: 1rem;
	color: var(--color-headline);
	font-weight: var(--bold-weight-heavier);
}
h3 {
	display: block;
	font-size: 2em;
	margin: 1em 0;
	margin-left: 1.5rem;
	font-weight: bold;
}
h4 {
	display: block;
	font-size: 1em;
	margin: 0.5em 0;
	font-weight: bold;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
	line-height: 1.4;
	margin: 20px auto;
	padding: 0 10px;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	color: var(--color-headline);
	max-width: 1200px;
	background: url("../../../static/images/stacked-background.svg");
	background-repeat: repeat-x;
	background-color: var(--color-background);
  }

  a {
	color:var(--color-icon-highlight);
	
  }

  p {
	color:var(--color-paragraph);
	font-size: 20px;
	
  }
